/* Webfont */

@font-face {
  font-family: 'norsebold';
  src: url('./font/webfontkit-20240530-023942/norse-bold-webfont.woff2') format('woff2'),
       url('./font/webfontkit-20240530-023942/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.background__logo--title {
  font-family: 'norsebold', sans-serif;
}