/* Webfont */

@font-face {
  font-family: 'norsebold';
  src: url('./font/webfontkit-20240530-023942/norse-bold-webfont.woff2') format('woff2'),
       url('./font/webfontkit-20240530-023942/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  
  display: flex;
}

.container {
  width: 70%;
  margin-left: 3rem;
}

a {
  text-decoration: none;
  color: #596D48;
  font-weight: 700;
}

label {
  display: block;
}

input,
select,
textarea,
button {
  appearance: none;
  border: #E5E7EB;
  box-shadow: 0 0 2px grey;
}

/* Styles */

.background {
  display: inline-block;
  position: relative;
}

.background__img {
  height: 100vh;
}

.background__img img {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.background__logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  top: 20vh;
  padding: 2rem 0;
}

.background__logo img {
  display: inline-block;
  max-height: 8rem;
}

.background__logo--title {
  font-family: 'norsebold', sans-serif;
  color: white;
  font-size: 7rem;
  margin: 0;
}

.hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  background: rgba(235, 235, 235, 0.89);
}

.main__message {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.6;
}

.main__signup {
  background: #fff;
  box-shadow: 0 1px 3px rgb(186, 186, 186);
  padding: 3rem 0;
}

.main__signup--controls {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 3rem 3rem 3rem;
  grid-gap: 1vw;
}

.main__signup--controls label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .7rem;
  letter-spacing: .05rem;
  margin-bottom: .2rem;
}

.main__signup--controls input {
  padding: .3rem 0 .3rem .4rem;
  border-radius: 5px;
  width: 250px;
}

.main__signup--controls input:focus {
  outline: 1px solid rgb(103, 131, 255);
  box-shadow: 0 0 3px rgb(100, 100, 100);
}

.main__buttons--button {
  display: inline-block;
  font-family: inherit;
  color: #fff;
  background: #596D48;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 10px;
  box-shadow: 0 0 2px black;
  margin-bottom: 1rem;
}

@media (max-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .background__logo {
    position: relative;
    top: 0;
  }

  .background__img {
    display:none;
  }

  .background__img img {
    display: none;
  }

  .container {
    margin: 0 auto;
  }
}