/* Webfont */

@font-face {
  font-family: 'norsebold';
  src: url('./font/webfontkit-20240530-023942/norse-bold-webfont.woff2') format('woff2'),
       url('./font/webfontkit-20240530-023942/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  
  display: flex;
}

.container {
  border: 2px solid blue;
  width: 80%;
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: #596D48;
  font-weight: 700;
}

label {
  display: block;
}

input,
select,
textarea,
button {
  appearance: none;
  border: #E5E7EB;
  box-shadow: 0 0 2px grey;
}

/* Styles */

.background {
  display: inline-block;
  position: relative;
}

.background__img {
  height: 100vh;
}

.background__img img {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.background__logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  top: 15vh;
  padding: 1rem 0;
}

.background__logo img {
  display: inline-block;
  max-height: 7rem;
}

.background__logo--title {
  font-family: 'norsebold', sans-serif;
  color: white;
  font-size: 5.5rem;
  margin: 0;
}

.hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  border: 2px solid red;
  width: 100%;
  background: rgba(235, 235, 235, 0.89);
}

.main__message {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
}

.main__signup {
  background: #fff;
  box-shadow: 0 1px 3px rgb(186, 186, 186);
  padding: 3rem 0;
}

.main__signup--controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem 3rem 3rem;
  grid-gap: .2rem;
}

.main__signup--controls label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8rem;
  letter-spacing: .1rem;
  margin-bottom: .2rem;
}

.main__signup--controls input {
  padding: .3rem 0 .3rem .2rem;
  border-radius: 5px;
  width: 250px;
}